<div class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="container">
                <div class="form-group">
                    <label for="de">De</label>
                    <input type="number" id="de" class="form-control">
                </div>
                <div class="form-group">
                    <label for="ate">Até</label>
                    <input type="number" id="ate" class="form-control">
                    <button class="btn btn-outline-dark me-1">Procurar</button>
                </div>
        </div>
        </form>
    </div>
</div>
